{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="container">

    {{#foreach posts}} 
    <div class="row">
        <div class="column">
            
                <article class="{{post_class}}">

                {{#if feature_image}}
                <a class="post-card-image-link" href="{{url}}">
                    <div class="post-card-image" style="background-image: url({{feature_image}})"></div>
                </a>
                {{/if}}
                
        <h2 class="posts-header"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
        <p>{{excerpt characters="256"}}&hellip;</p>
        <footer>

            {{#if profile_image}}
                <a href="{{url}}" class="static-avatar"><img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" /></a>
            {{/if}}

            <span>By {{ author }}</span>
          <span class="seperator">|</span>
          Posted <span class="post-meta">
                      <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time>
                    </span> in {{tags separator=", "}}
          <span class="seperator">|</span>
          {{reading_time}}
        </footer>
      </article>

    </div>
  </div>
  {{/foreach}} 

  <div class="row">
    <div class="column">
      {{pagination}} 
    </div>
  </div> 
</div> 
